In [1]:
from os import sep
import pandas as pd
import numpy as np

In [2]:
# Task 1:Read file content
filename = input('Please enter input file') 
try:
    content = open(filename + '.txt', 'r')
    print('This file was opened\n' +'**** ANALYZING ****')
except:
    print("Sorry, I can't find this filename\n" +'**** REPORT ****')

Please enter input fileclass2
This file was opened
**** ANALYZING ****

In [3]:
# Task 2: Print total valid line and Error line
valid = 0
invalid = 0
ans = dict()
for line in content:
    line = line.strip()
    # Code # 9 characters
    line1 = line.split(',')
    if len(line1[0]) != 9:
        print('Invalid line of data: N# is invalid\n' + line)
        invalid += 1
    # Code error
    elif line1[0] < 'N00000000' or line1[0] >'N99999999':
        print('Invalid line of data: N# is invalid\n' + line)
        invalid += 1
    #List error (len # 26):
    elif len(line1) != 26:
        print('Invalid line of data: does not contain exactly 26 values\n' + line)
        invalid += 1
    # valid line
    else:
        valid += 1
        ans[line1[0]] = line1[1:]
if invalid == 0:
    print('No errors found!')
print('**** REPORT ****')
print('Total valid lines of data: ' + str(valid))
print('Total invalid lines of data: ' + str(invalid))

Invalid line of data: does not contain exactly 26 values
N00000023,,A,D,D,C,B,D,A,C,C,,C,,B,A,C,B,D,A,C,A,A
Invalid line of data: N# is invalid
N0000002,B,A,D,D,C,B,D,A,C,D,D,D,A,,A,C,D,,A,C,A,A,B,D,D
Invalid line of data: N# is invalid
NA0000027,B,A,D,D,,B,,A,C,B,D,B,A,,A,C,B,D,A,,A,A,B,D,D
Invalid line of data: does not contain exactly 26 values
N00000035,B,A,D,D,B,B,,A,C,,D,B,A,B,A,A,B,D,A,C,A,C,B,D,D,A,A
**** REPORT ****
Total valid lines of data: 21
Total invalid lines of data: 4

In [4]:
df = pd.DataFrame(ans)

In [5]:
def mark(answ, quesNo):
    ans_key = "B,A,D,D,C,B,D,A,C,C,D,B,A,B,A,C,B,D,A,C,A,A,B,D,D".split(',')
    if answ == '':
        score = 0
    elif answ == ans_key[quesNo]:
        score = 4
    else:
        score = -1
    return score

In [6]:
for i in range(25):
    df.loc[i] = df.loc[i].apply(lambda x : mark(x, i))

In [7]:
display(df)

,N00000021,N00000022,N00000024,N00000026,N00000028,N00000029,N00000030,N00000031,N00000032,N00000033,...,N00000036,N00000037,N00000038,N00000039,N00000040,N00000041,N00000042,N00000043,N00000044,N00000045
0,4,4,-1,4,4,4,-1,4,4,4,...,4,4,0,4,4,0,4,-1,4,-1
1,4,4,-1,-1,4,4,4,0,4,4,...,4,4,4,4,4,4,4,4,4,4
2,-1,4,4,4,4,4,4,4,4,4,...,4,4,4,4,0,4,4,4,4,-1
3,4,-1,4,4,4,4,4,4,4,4,...,4,4,0,4,4,4,4,4,4,4
4,4,4,4,4,-1,4,4,4,4,4,...,4,4,4,4,4,4,4,4,4,4
5,-1,4,4,-1,4,-1,4,4,4,0,...,4,0,4,-1,4,4,4,4,4,4
6,4,4,0,-1,4,4,4,4,4,4,...,4,4,4,-1,4,4,4,4,4,4
7,-1,-1,4,4,4,4,0,4,4,4,...,4,4,4,4,-1,4,4,4,4,-1
8,4,4,4,4,4,4,4,-1,4,4,...,4,4,-1,4,4,4,4,4,4,0
9,4,4,4,-1,4,4,4,4,4,-1,...,-1,4,4,4,4,4,4,4,4,4
10,4,4,4,4,0,4,4,4,4,4,...,-1,4,4,4,-1,4,4,4,4,4
11,4,4,4,0,0,4,4,-1,0,4,...,-1,0,4,4,4,4,4,4,4,4
12,0,4,4,4,4,4,4,4,4,4,...,4,4,4,4,4,4,4,4,4,4
13,4,4,4,4,4,4,4,4,-1,4,...,4,4,4,-1,4,4,4,4,4,4
14,4,4,0,4,4,4,4,4,4,-1,...,4,4,4,4,4,4,4,-1,4,4
15,4,0,4,4,0,4,4,4,4,4,...,4,-1,4,0,4,4,4,4,-1,-1
16,4,4,4,4,4,4,4,4,4,-1,...,4,4,4,-1,-1,4,4,4,4,4
17,0,-1,4,4,4,0,-1,-1,4,4,...,4,4,4,4,0,4,4,4,4,-1
18,4,4,4,0,-1,0,4,4,4,4,...,4,4,0,4,4,4,4,4,4,0
19,-1,4,4,4,4,4,4,4,4,4,...,4,4,4,-1,4,4,4,4,4,4
20,4,4,4,4,4,4,4,-1,0,4,...,4,0,4,4,4,-1,4,4,-1,4
21,4,4,-1,4,4,4,0,4,4,0,...,4,0,-1,4,0,4,4,0,4,4
22,4,4,4,4,4,4,4,4,4,4,...,4,0,4,4,4,4,4,4,4,4
23,4,-1,0,4,-1,4,4,4,4,4,...,0,4,4,-1,4,4,4,4,4,4
24,0,4,4,4,4,4,4,4,4,4,...,0,4,-1,4,4,4,4,4,4,4

In [9]:
# Count hight score
score = df.sum().T
hscore = score[score >80].count()
print('Total student of high scores: ' + str(hscore))

Total student of high scores: 7

In [10]:
# Mean score
print('Mean (average) score: ' + str(score.mean()))

Mean (average) score: 78.0

In [11]:
# Max score
print('Highest score: ' + str(score.max()))

Highest score: 100

In [12]:
# Min score
print('Lowest score: ' + str(score.min()))

Lowest score: 66

In [13]:
# Range score
print('Range of scores: ' +str(score.max() - score.min()))

Range of scores: 34

In [14]:
# Median score
print('Lowest score: ' + str(score.median()))

Lowest score: 76.0

In [15]:
# Skip data
x = df.T
sk = x[x == 0].count()

for i in range(24):
    if sk.loc[i] == sk.max():
        print('Question that most people skip: ' + str(i + 1) + ' - ' + str(sk.max()) + ' - ' + str(round(sk.max()/valid,2)))

Question that most people skip: 22 - 6 - 0.29

In [16]:
# incorect data
icr = x[x == -1].count()
for i in range(24):
    if icr.loc[i] == icr.max():
        print('Question that most people answer incorrectly: ' + str(i + 1) + ' - ' + str(icr.max()) + ' - ' + str(round(icr.max()/valid,2)))

Question that most people answer incorrectly: 18 - 5 - 0.24

In [18]:
# Task 5: Write output file
tscore = dict(score)
content = []
for stu in tscore:
    content.append(stu + ', ' + str(tscore[stu]))
result = open('Expected Output/' + filename + '_grades.txt', 'w' )
result.write('\n'.join(content))
result.close()